html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: hsla(0, 0%, 0%, 0.8);
    font-family: sans-serif;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
  }
  h1,h2,h3,h4,h5,h6 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 2.25rem;
    line-height: 1.1;
  }
  h2 {
    font-size: 1.62671rem;
  }
  h3 {
    font-size: 1.38316rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.85028rem;
  }
  h6 {
    font-size: 0.78405rem;
   }
  ul {
    margin-left: 1.45rem;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    list-style-position: outside;
    list-style-image: none;
  }


  @import url('https://fonts.googleapis.com/css?family=Lora:400,700|Source+Sans+Pro:300,400|Dosis:300,400,700');

$link-color: #007FFF; // slateblue
// $link-color: #303C55; // picasso blue
// $link-color: rgba(0, 127, 225, 0.75);

article {
  max-width: 700px;
  margin: 0px auto;
  padding: 10px;
  font-family: "Source Sans Pro", sans-serif;
  color: #36363C;

  h1 {
    font-weight: 300;
    line-height: 1.5;
    font-size: 2.1rem;
  }

  .highlight-link {
    text-decoration: none;
    color: #36363C;
    display: inline-block;
    padding: 0px 7px;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: inset 0 -5px 0 $link-color;
    &:hover {
      box-shadow: inset 0 -47px 0 0 $link-color;
      color: white;
    }
  }

  .arrow-link {
    color: #36363C;
    font-size: 1.5rem;
    -webkit-transition: all .15s ease-in-out;
    background-color: transparent;
    text-decoration: none;
    white-space: nowrap;

    &:after {
      position: relative;
      bottom: 0.2ex;
      margin-left: 10px;

      color: $link-color;
      font-family: "FontAwesome";
      font-size: 1.5rem;
      display: inline-block;
      vertical-align: middle;
      -webkit-transition: all .15s ease-in-out;
    }

    &:hover {
			font-weight: bold;
    }

    &:hover:after {
      transform: translateX(7px);
    }
  }
}

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto+Mono:wght@300&display=swap');

.intro {
  color: $link-color;
  font-family: 'Roboto Mono', monospace;
  
  @media only screen and (max-width: 600px) {
 
  }
}

.name {
  color: #000000;
  margin-top: -20px;
  margin-left: -4px;
  font-size: 4rem;

  @media only screen and (max-width: 600px) {
    font-size: 2.3rem;
  }
}

.aftername {
  margin-top: -20px;
  font-size: 3rem;
  color: #2c3539;
  
  @media only screen and (max-width: 600px) {
    font-size: 2.1rem;
  }
}

.desc {
  margin-top: 50px;
  font-family: 'Abel', sans-serif;
  font-size: 1.4rem;
  margin-inline-end: 200px;

  @media only screen and (max-width: 600px) {
    margin-top: 30px;
    margin-inline-end: 0px;
    font-size: 1rem;
  }
}
