.posts {
    list-style-type: none;
    margin: 0;
}

.subblog {
    max-width: 1000px;
}

.post {
    margin-top: 130px;

    a {
        margin-top: 30px;
        margin-inline-end: 693px;
        background: #0a192f;
        color: #f4f4f4;
        display: block;
        padding:  1rem;
        text-decoration: none;
        border: 2px solid #007fff;
    }

    a:hover {
        background-color: rgba(100, 180, 255, 0.07);
        color: #007FFF;
    }

    h2 {
        margin-top: 30px;
        margin-bottom: 0;
    }

    p {
        color: #777777;
        font-size: .8rem;
        font-style: italic;
    }
}

.blogtemp {
    margin-top: 130px;
}