.footer {
    width: auto;
    margin-top: 1rem;
    text-align: center;
    color: #c2dfff;
    font-family: 'Roboto Mono', monospace;
}

.linkcolor .a:hover{
    $link-color: #007FFF;
    color: $link-color;
}