@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto+Mono:wght@300&display=swap');

.header {
    margin-top: 30px;
    padding: 1rem 0 3rem;
    font-family: 'Roboto Mono', monospace;
    max-width: 1000px;
    padding: 10px;
    color: #007fff;

}

.title{
    color: #a6bdbf;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #999999;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: #007fff;
}

.active-nav-item {
    color: #ffffff;
}

.p {
    font-family: 'Roboto Mono', monospace;
    color: #007fff;
    font-weight: bold;
}

.img {
    max-width: 100%;
    max-height: auto;
}